body {
    background-color:antiquewhite;
    background-image: url(../img/triangles_pattern.webp);
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.home-button:hover {
    background-color: #45a049;
}

.button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    color: black;
}

.highlight {
    background: yellow;
}

/* highlight is <span class= "highlight"> */

#center{
    text-align: center;
}
    /* Center is <div id="center"> */

#left{
    text-align: left;
}

#right{
    text-align: right;
}

.box{
    background-image: url(../img/orangecat.jpeg);
    padding: 200px 100px;
    margin: 100px;
    background-size: cover;
    background-position: top;
    
}







































/* 
padding goes top right bottom left so example: 
25px padding top, 100px padding right, 30px padding bottom,
and 45px padding left in that order 
*/
    
    
/* 
ALWAYS GOES BOX -> PADDING -> BORDER -> MARGINS 
*/

/* 
Margin: empty space around my element
Border: a border / strok / around my element
Padding: empty space WITH background around my element */

/* 
ALL of these ADD on top of the width and height
*/